extends _layout/layout

block variables
	- var title = 'Tourlink'
	- var bodyclass = 'bookingpage'

block css

block body 
	include _layout/header
	//- include _layout/banner
	main
		//- include _layout/breadcrumb
		include _layout/ct-giohang
	include _layout/footer