extends _layout/layout

block variables
	- var title = 'Tourlink'
	- var bodyclass = ''

block css

block body 
	include _layout/header
	//- include _layout/banner
	main
		include _layout/breadcrumb6
		include _layout/ct-car
	include _layout/footer