//- section.breadcrumb-wrap.breadcrumb-hotelct.clearfix
	//- .breadcrumb-banner
	//- 	img(src="img/breadcrumb/9.jpg", alt="")
	//- .container
	//- 	h3.pagename 
	//- include searchhotel
.breadcrumb-section
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') My page
				meta(itemprop='position', content='2')