.dropdown-menu.date-picker(aria-labelledby='dropdownMenuLink')
	.btn-prev <i class="fa fa-chevron-left" aria-hidden="true"></i>
	.btn-next <i class="fa fa-chevron-right" aria-hidden="true"></i>
	.month-list
		.item
			.month 11/2017
			table.date-in-month
				thead
					tr
						th Su
						th Mo
						th Tu
						th We
						th Th
						th Fr
						th Sa
				tbody
					tr
						td 
						td 
						td 
						td 01
						td 02
						td 03
						td 04
					tr
						td 05
						td 06
						td 07
						td 08
						td 09
						td 10
						td 11
					tr
						td 12
						td 13
						td 14
						td 15
						td 16
						td 17
						td 18
					tr
						td 19
						td 20
						td 21
						td 22
						td 23
						td 24
						td 25
					tr
						td 26
						td 27
						td 28
						td 29
						td 30
						td 
						td 
		.item
			.month 12/2017
			table.date-in-month
				thead
					tr
						th Su
						th Mo
						th Tu
						th We
						th Th
						th Fr
						th Sa
				tbody
					tr
						td 
						td 
						td 
						td 
						td 
						td.sp 01
						td 02
					tr
						td 03
						td 04
						td 05
						td 06
						td 07
						td 08
						td 09
					tr
						td 10
						td 11
						td 12
						td 13
						td 14
						td 15
						td 16
					tr
						td 17
						td 18
						td 19
						td 20
						td 21
						td 22
						td 23
					tr
						td 24
						td 25
						td 26
						td 27
						td 28
						td 29
						td 30
					tr
						td 31
						td 
						td 
						td 
						td 
						td 
						td 
		.item
			.month 01/2018
			table.date-in-month
				thead
					tr
						th Su
						th Mo
						th Tu
						th We
						th Th
						th Fr
						th Sa
				tbody
					tr
						td 
						td 01
						td 02
						td 03
						td 04
						td 05
						td 06
					tr
						td 07
						td 08
						td 09
						td 10
						td 11
						td 12
						td 13
					tr
						td 14
						td 15
						td 16
						td 17
						td 18
						td 19
						td 20
					tr
						td 21
						td 22
						td 23
						td 24
						td 25
						td 26
						td 27
					tr
						td 28
						td 29
						td 30
						td 31
						td 
						td 
						td 