include bookingheader

.container
	section.booking-step.clearfix
		.step.finish
			.number 1
			.name Chọn phòng
		.step.finish
			.number 2
			.name Chi tiết đặt phòng
		.step.active
			.number 3
			.name Thông tin thanh toán
		.step
			.number 4
			.name Hoàn tất đặt phòng
	section.booking-page.clearfix
		h1.page-title Thông tin chi tiết đặt phòng
		.row
			.col-12.col-lg-7
				.hotel-info.clearfix
					figure
						.hotel-img
							img(src="img/picture/1.jpg", alt="")
						figcaption
							.hotel-name
								a(href="#") A La Carte Da Nang Beach Hotel
							.hotel-star
								<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
							.hotel-location <i class="fa fa-map-marker" aria-hidden="true"></i> 200 Võ Nguyên Giáp, Quận Sơn Trà, Tp. Đà Nẵng, Việt Nam, Phước Mỹ, Đà Nẵng, Việt Nam 59000
							.hotel-des
								ul
									li 
										.label Khu vực lân cận :
										.value Phước Mỹ, Đà Nẵng
									li 
										.label Nhận phòng :
										.value 07 Tháng Chín 2017
									li 
										.label Trả phòng :
										.value 09 Tháng Chín 2017
									li 
										.label Sức chứa :
										.value Tối đa 2 người lớn
									li 
										.label Thông tin đặt phòng :
										.value 2 đêm, 1 phòng, 2 Người lớn
									li 
										.label Phòng :
										.value 1 x Phòng Studio 1 phòng ngủ (1 Bedroom Studio)
							.btn-changeroom Đổi phòng
				.hotel-feature.clearfix
					.hotel-rating Xuất sắc 
						strong 8.3
					.hotel-service
						.title Các dịch vụ bạn yêu thích
						ul
							li Cách bãi biển 100 m
							li miễn phí wifi tất cả các phòng
							li dịch vụ phòng hàng ngày
							li quầy bar
							li quán bar cạnh hồ bơi
							li phòng sauna
							li bể bơi sân thượng
							li tiệc bể bơi
							li dịch vụ cafe ăn sáng
				.booking-payment.clearfix
					.form-title Phương thức thanh toán
					.method-list
						.payment-method.radio
							input#ttnh(type="radio", name="rd1" checked)
							label(for="ttnh")
								.method-info
									.method-img
										img(src="img/cart/icon1.png", alt="")
									.method-detail
										.method-name Thanh toán tiền mặt khi nhận phòng
										.method-des Quý khách sẽ thanh toán bằng tiền mặt hoặc thẻ khi Cánh Cam giao hàng cho quý khách
								.method-content
									.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nisi atque, modi iusto autem enim est, quidem eveniet delectus fugiat tenetur saepe tempora vitae, porro voluptas numquam soluta impedit consectetur quas libero recusandae maiores. Expedita nobis magnam quis sed facere, quibusdam corporis sunt dolorem a alias libero aliquam excepturi repellat.
						.payment-method.radio
							input#ttatm(type="radio", name="rd1")
							label(for="ttatm")
								.method-info
									.method-img
										img(src="img/cart/icon2.png", alt="")
									.method-detail
										.method-name Thanh toán bằng thẻ ATM
										.method-des Thẻ ATM của bạn cần đăng ký sử dụng dịch vụ Internet Banking.
											br
											|Bạn sẽ được chuyển tới Napas để thanh toán
								.method-content
									.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nisi atque, modi iusto autem enim est, quidem eveniet delectus fugiat tenetur saepe tempora vitae, porro voluptas numquam soluta impedit consectetur quas libero recusandae maiores. Expedita nobis magnam quis sed facere, quibusdam corporis sunt dolorem a alias libero aliquam excepturi repellat.
						.payment-method.radio
							input#ttqt(type="radio", name="rd1")
							label(for="ttqt")
								.method-info
									.method-img
										img(src="img/cart/icon3.png", alt="")
									.method-detail
										.method-name Thanh toán bằng thẻ thanh toán quốc tế
										.method-des Hỗ trợ Credit và Debit.
											br
											|Bạn sẽ được chuyển tới OnePay để thanh toán.
								.method-content
									.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nisi atque, modi iusto autem enim est, quidem eveniet delectus fugiat tenetur saepe tempora vitae, porro voluptas numquam soluta impedit consectetur quas libero recusandae maiores. Expedita nobis magnam quis sed facere, quibusdam corporis sunt dolorem a alias libero aliquam excepturi repellat.
						//- .payment-method.radio
							input#tttg(type="radio", name="rd1")
							label(for="tttg")
								.method-info
									.method-img
										img(src="img/cart/icon4.png", alt="")
									.method-detail
										.method-name Thanh toán trả góp
										.method-des Hỗ trợ Credit.
											br
											|Bạn sẽ được chuyển đến OnePay để thanh toán
								.method-content
									.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nisi atque, modi iusto autem enim est, quidem eveniet delectus fugiat tenetur saepe tempora vitae, porro voluptas numquam soluta impedit consectetur quas libero recusandae maiores. Expedita nobis magnam quis sed facere, quibusdam corporis sunt dolorem a alias libero aliquam excepturi repellat.
					.payment-agree.checkbox
						input#agree(type="checkbox", name="agree")
						label(for="agree") Tôi đồng ý với chính sách bảo mật và điều khoản chung cho đặt phòng
				.btn-wrap
					a.btn-back(href="#") Quay lại
					a.btn-continue(href="#") Tiếp tục
			.col-12.col-lg-5
				section.booking-info.clearfix
					.booking-date
						.from
							.date 07
							.des Thứ Năm
								br
								|Thg 9 2017
						.to
							.date 09
							.des Thứ Bảy
								br
								|Thg 9 2017
					.room-info
						.room-name 1x Phòng Studio 1 phòng ngủ (1 Bedroom Studio)
						.room-des
							ul
								li 44 m²
								li Giá đã bao gồm: Nước uống chào đón
								li Khuyến mãi trong thời gian có hạn. Giá phòng bao gồm giảm giá 25%!
								li Chính sách hủy phòng
								li Đừng bỏ lỡ! Chỉ còn 2 phòng có giá này ở Agoda!
				section.booking-amount.clearfix
					.group
						.label Giá tiền (1 phòng x 2 đêm)
						.value 
							.price
								.old 6.666.666 đ
								.new 5.000.000 đ
					.group.total-amount
						.label Giá tiền
							.des Giá đã bao gồm phí dịch vụ 5%, thuế 10%
						.value 5.175.000 đ
include bookingfooter