.breadcrumb-section
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Đối tác & khách hàng
section.partner-page.clearfix
	.container
		h1.page-title Đối tác & Khách hàng
		.partner-list
			.row.flex-content-center
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/1.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") Traveloka
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/2.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") Flynow
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/3.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") Fly Now
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/4.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") PVcomBank
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/5.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") CGV
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/6.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") VietcomBank
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/7.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") Agoda
				.col-12.col-sm-6.col-md-4.col-lg-3
					.partner-col
						figure
							a.partner-img(href="#!")
								img(src="img/partner/8.png", alt="")
							figcaption
								h2.partner-name 
									a(href="#!") Booking.com
