.breadcrumb-section
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
section.about-page.clearfix
	.about-section
		.container
			.row
				.col-12.col-lg-6
					.about-img
						img(src="img/about/1.jpg", alt="")
				.col-12.col-lg-6
					.about-content.clearfix
						h1.page-title About us
						.content
							.logo
								img(src="img/logo-b.png", alt="")
							p After jumping off the side of a cliff with only a cord attached in the Swiss Alps, our founder couldn't go back to his day job. Instead, he set out to create something that he couldn't find in the travel market - A collection of customizable adventure itineraries around the globe that are rewarding to the traveler, host and the environment. Pygmy Elephant is the end result of two years of full time travel in search of the best adventure experiences the world has to offer.
	.about-section.s2
		.container
			.row
				.col-12.col-lg-6
					.about-content.clearfix
						h1.page-title Our Values
						.content
							p We prefer to work with locally owned and operated lodging and tour operators. This allows more money to stay inside of local communities and in the hands of people who live in the destinations you visit.
							p We give 10% of income to conservation and charity organizations.
							p We strive to provide meaningful, rewarding and challenging adventures for our clients with the highest level of consultation services.
							p We believe in integrity, both to our partners and our clients. We ask for reasonable commissions from our partners and provide transparency in pricing for travelers.
				.col-12.col-lg-6
					.about-img
						img(src="img/about/2.jpg", alt="")
	.about-section
		.container
			.row
				.col-12.col-lg-6
					.about-img
						img(src="img/about/3.jpg", alt="")
				.col-12.col-lg-6
					.about-content.clearfix
						h1.page-title Our Vision
						.content
							ul
								li We prefer to work with locally owned and operated lodging and tour operators. This allows more money to stay inside of local communities and in the hands of people who live in the destinations you visit.
								li We give 10% of income to conservation and charity organizations.
								li We strive to provide meaningful, rewarding and challenging adventures for our clients with the highest level of consultation services.
	