include bookingheader

.container
	section.booking-step.clearfix
		.step.finish
			.number 1
			.name Giỏ hàng
		.step.finish
			.number 2
			.name Nhập thông tin & thanh toán
		.step.active
			.number 3
			.name Hoàn tất
	.cart-page
		.cart-success.alert.alert-success <i class="fa fa-check-circle" aria-hidden="true"></i> Đơn hàng hoàn tất
		.cart-form.clearfix
			h1.page-title Nhập thông tin
			.form-wrap
				.row
					.form-group.col-12.col-md-6
						label(for="") Họ và tên:
						.value Nguyễn Văn A
					.form-group.col-12.col-md-6
						label(for="") Số CMND/Passport:
						.value 215303456
					.form-group.col-12.col-md-6
						label(for="") Điện thoại:
						.value 0912 345 456
					.form-group.col-12.col-md-6
						label(for="") Email:
						.value nguyenvana@gmail.com
					.form-group.col-12.col-md-6
						label(for="") Địa chỉ:
						.value 
							span(style="text-transform: capitalize") 156 nguyễn văn thủ phường đakao quận 1 tp.hồ chí minh
					.form-group.col-12.col-md-6
						label(for="") Ghi chú
						
		.mini-cart
			h2.page-title Giỏ hàng
			table.cart-table.pc-cart-table
				tr
					th Tên sản phẩm
					th Chi tiết đặt chỗ
					th Người
					th Số tiền
					th Số tiền chiết khấu
					th Số tiền thanh toán
				tr
					td.type(colspan="6") Khách sạn
				tr
					td 
						.name Hyatt Regency Danang Resort và Spa
						time 2017-09-25 (Thứ Hai) ~ 2017-09-26 (Thứ Ba) [1 Đêm]
					td Hyatt Phòng Khách Standard Single (1 Phòng) - Bao gồm ăn sáng	
					td Người lớn 1
					td 2.700.000 đ
					td 0 đ
					td.money 2.700.000 đ
				tr
					td.type(colspan="6") Sân golf
				tr
					td 
						.name [Hồ Chí Minh] Sân gôn Thanh Sơnn 
						time 2017-10-22 (CN)
					td Chiều 18 lỗ 
					td Người lớn 2
					td 2.600.000 đ
					td 0 đ
					td.money 2.600.000 đ
				tr
					td 
						.name [Hồ Chí Minh] Sân gôn Thanh Sơnn 
						time 2017-10-22 (CN)
					td 18 lỗ hổng
					td Người lớn 2
					td 2.600.000 đ
					td 0 đ
					td.money 2.600.000 đ
				tr
					td.type(colspan="6") Tour
				tr
					td 
						.name [Solo] Buổi sáng Đón khách tại Morning Barn Hill 
						time 2017-09-21 (Thứ năm)
					td 2 lần khởi hành 
					td Người lớn 2
					td 2.200.000 đ
					td 0 đ
					td.money 2.200.000 đ
			table.mobile-cart-table
				tr
					th Khách sạn
					td
						.product-name
							.name Hyatt Regency Danang Resort và Spa
							time 2017-09-25 (Thứ Hai) ~ 2017-09-26 (Thứ Ba) [1 Đêm]
						.product-detail
							ul
								li
									strong Chi tiết:
									br
									| Hyatt Phòng Khách Standard Single (1 Phòng) - Bao gồm ăn sáng
							
								li
									strong Người:
									br
									| 2 người lớn, 1 trẻ em
							
								li
									strong Số tiền:
									br
									| 2.700.000 đ
							
								li
									strong Số tiền thanh toán:
									.product-price 2.700.000 đ
						.remove <i class="fa fa-trash-o" aria-hidden="true"></i>
					td
						.product-name
							.name Hyatt Regency Danang Resort và Spa
							time 2017-09-25 (Thứ Hai) ~ 2017-09-26 (Thứ Ba) [1 Đêm]
						.product-detail
							ul
								li
									strong Chi tiết:
									br
									| Hyatt Phòng Khách Standard Single (1 Phòng) - Bao gồm ăn sáng
							
								li
									strong Người:
									br
									| 2 người lớn, 1 trẻ em
							
								li
									strong Số tiền:
									br
									| 2.700.000 đ
							
								li
									strong Số tiền thanh toán:
									.product-price 2.700.000 đ
						.remove <i class="fa fa-trash-o" aria-hidden="true"></i>
				tr
					th Sân golf
					td
						.product-name
							.name Hyatt Regency Danang Resort và Spa
							time 2017-09-25 (Thứ Hai) ~ 2017-09-26 (Thứ Ba) [1 Đêm]
						.product-detail
							ul
								li
									strong Chi tiết:
									br
									| Hyatt Phòng Khách Standard Single (1 Phòng) - Bao gồm ăn sáng
							
								li
									strong Người:
									br
									| 2 người lớn, 1 trẻ em
							
								li
									strong Số tiền:
									br
									| 2.700.000 đ
							
								li
									strong Số tiền thanh toán:
									.product-price 2.700.000 đ
						.remove <i class="fa fa-trash-o" aria-hidden="true"></i>
				tr
					th Tour
					td
						.product-name
							.name Hyatt Regency Danang Resort và Spa
							time 2017-09-25 (Thứ Hai) ~ 2017-09-26 (Thứ Ba) [1 Đêm]
						.product-detail
							ul
								li
									strong Chi tiết:
									br
									| Hyatt Phòng Khách Standard Single (1 Phòng) - Bao gồm ăn sáng
							
								li
									strong Người:
									br
									| 2 người lớn, 1 trẻ em
							
								li
									strong Số tiền:
									br
									| 2.700.000 đ
							
								li
									strong Số tiền thanh toán:
									.product-price 2.700.000 đ
						.remove <i class="fa fa-trash-o" aria-hidden="true"></i>
			.total-amount Tổng tiền:
				strong 10.100.000 đ
		.btn-wrap.clearfix
			a.btn-continue(href="#!") Về trang chủ
					
		
include bookingfooter