.container
	section.tour-page.clearfix
		h1.home-title Kết quả tìm kiếm "
			strong Hồ Chí Minh
			|"
		.row
			.col-12.col-lg-3
				.btn-showfilter <i class="fa fa-filter" aria-hidden="true"></i> Bộ lọc
				.filter-wrap.clearfix
					.filter-title Bộ lọc
					.filter-group
						.title Từ khóa
						.filter-option
							.filter-search
								input(type="text")
					.filter-group
						.title Loại hình
						.filter-option
							.filter-area
								a.active(href="#") 18 lỗ
								a.active(href="#") 27 lỗ
								a(href="#") 36 lỗ
								a(href="#") Trên 36 lỗ
					.filter-group
						.title Mức giá
						.filter-option
							.filter-sort
								select
									option(value="") 0 đ - 10.000.000 đ
									option(value="") 10.000.000 đ - 20.000.000 đ
									option(value="") 20.000.000 đ - 30.000.000 đ
									option(value="") 30.000.000 đ - 50.000.000 đ
					.filter-group
						.title Sắp xếp
						.filter-option
							.filter-sort
								select
									option(value="") Mặc định
									option(value="") Giá từ thấp đến cao
									option(value="") Giá từ cao xuống thấp
									option(value="") Đánh giá cao

			.col-12.col-lg-9
				.golf-detail-list.clearfix
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/1.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/2.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/3.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/4.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/5.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
				.pages
					ul.pagination
						li
							a(href="#") 1
						li.active
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
