.container
	section.golf-page.product-page.clearfix
		h1.product-main-name
			.tag.golf Golf
			|Sân Gôn Tân Sơn Nhất
		.row
			.col-12.col-lg-6
				.slide-wrap
					.product-slide
						.item
							a.img(href="img/golf/1.jpg" data-fancybox="gal1")
								img(src="img/golf/1.jpg", alt="")
						.item
							a.img(href="img/golf/2.jpg" data-fancybox="gal1")
								img(src="img/golf/2.jpg", alt="")
						.item
							a.img(href="img/golf/3.jpg" data-fancybox="gal1")
								img(src="img/golf/3.jpg", alt="")
						.item
							a.img(href="img/golf/4.jpg" data-fancybox="gal1")
								img(src="img/golf/4.jpg", alt="")
						.item
							a.img(href="img/golf/5.jpg" data-fancybox="gal1")
								img(src="img/golf/5.jpg", alt="")
						.item
							a.img(href="img/golf/6.jpg" data-fancybox="gal1")
								img(src="img/golf/6.jpg", alt="")
						.item
							a.img(href="img/golf/7.jpg" data-fancybox="gal1")
								img(src="img/golf/7.jpg", alt="")
					.product-nav
						.item
							.img
								img(src="img/golf/1.jpg", alt="")
						.item
							.img
								img(src="img/golf/2.jpg", alt="")
						.item
							.img
								img(src="img/golf/3.jpg", alt="")
						.item
							.img
								img(src="img/golf/4.jpg", alt="")
						.item
							.img
								img(src="img/golf/5.jpg", alt="")
						.item
							.img
								img(src="img/golf/6.jpg", alt="")
						.item
							.img
								img(src="img/golf/7.jpg", alt="")
			.col-12.col-lg-6
				.product-info
					.info-table
						.group
							.label Khu vực
							.value Gò vấp, Hồ Chí Minh, Việt Nam
						.group
							.label Số điện thoại
							.value.phone
								a(href="tel:08 3987 6666") 08 3987 6666 
						.group
							.label Địa chỉ
							.value.address 6 Tân Sơn, Phường 12, Quận Gò Vấp, TP.HCM 
								a(href="https://www.google.com/maps/place/T%C3%A2n+S%C6%A1n+Nh%E1%BA%A5t+Golf+Course/@10.8297776,106.6478925,17z/data=!3m1!4b1!4m5!3m4!1s0x31752974893abdf5:0x1f1405c13499590b!8m2!3d10.8297723!4d106.6500812?shorturl=1" data-fancybox="map") Xem bản đồ
						.group
							.label Trang chủ
							.value.weblink 
								a(href="#!") https://www.tansonnhatgolf.vn/
						.group
							.label Giá chỉ từ
							.value.price
								strong 2.000.000 đ
						.share
							img(src="img/share.png", alt="")
		section.golf-content.product-content.clearfix
			#bookgolf.modal.modal-bookgolf.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h5#exampleModalLabel.modal-title [Chiều cuối tuần] Sân Golf 18 lỗ
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body 
							.row
								.col-12.col-md-6
									.calendar
										.month-select
											.prev <i class="fa fa-chevron-left" aria-hidden="true"></i>
											.next <i class="fa fa-chevron-right" aria-hidden="true"></i>
											.month 11/2017
											//- .selectbox
												select
													option Năm 2017
												select
													option 11
										table.date-in-month
											thead
												tr
													th Su
													th Mo
													th Tu
													th We
													th Th
													th Fr
													th Sa
											tbody
												tr
													td 
													td 
													td 
													td.disable 01
													td.disable 02
													td.disable 03
													td.disable 04
												tr
													td.disable 05
													td.disable 06
													td.disable 07
													td.disable 08
													td.disable 09
													td 10
														.price 200$
													td 11
														.price 200$
												tr
													td 12
														.price 200$
													td 13
														.price 200$
													td 14
														.price 200$
													td.active 15
														.price 200$
													td 16
														.price 200$
													td 17
														.price 200$
													td 18
														.price 200$
												tr
													td 19
														.price 200$
													td 20
														.price 200$
													td 21
														.price 200$
													td 22
														.price 200$
													td 23
														.price 200$
													td 24
														.price 200$
													td 25
														.price 200$
												tr
													td 26
														.price 200$
													td 27
														.price 200$
													td 28
														.price 200$
													td 29
														.price 200$
													td 30
														.price 200$
													td 
													td 
								.col-12.col-md-6
									.booking-info
										.module-title Tùy chọn
										.row
											.col-12.col-md-6
												.form-group
													label Ngày
													input(type="text" value="15/11/2017" disabled)
											.col-12.col-md-6
												.form-group
													label Loại sân
													input(type="text" value="18 lỗ" disabled)
											.col-12.col-md-6
												.form-group
													label Số người chơi
													select
														option 1
														option 2
														option 3
														option 4
														option 5
														option 6
														option 7
														option 8
														option 9
														option 10
														option 11
														option 12
														option 13
														option 14
														option 15
														option 16
														option 17
														option 18
														option 19
														option 20
											.col-12.col-md-6
												.form-group
													label Số người xem
													select
														option 0
														option 1
														option 2
														option 3
														option 4
														option 5
														option 6
														option 7
														option 8
														option 9
														option 10
														option 11
														option 12
														option 13
														option 14
														option 15
														option 16
														option 17
														option 18
														option 19
														option 20
											.col-12.col-md-6
												.form-group
													label Thời gian yêu cầu
													.datetime
														.filter-range
															#slider-range.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false')
																.ui-slider-range.ui-widget-header.ui-corner-all(style='left: 0%; width: 100%;')
																a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 0%;')
																a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 100%;')
															.price-range
																| Từ
																.sliderValue.min-input(data-index='0') 0h
																| đến
																.sliderValue.max-input(data-index='1') 16h
															.hidden
																a.urlwithoutprice(href='#')
																a.urlwithprice(href='#')
																a.pricemin
																a.pricemax
											.col-12.col-md-6
												.form-group
													label Thuê xe điện
													select
														option 1
														option 2
														option 3
														option 4
														option 5
														option 6
														option 7
														option 8
														option 9
														option 10
											.col-12
												.form-group
													label 
														a(href="xe.html" target="_blank") Dịch vụ pick up
											//- .col-12
												.form-group.checkbox
													input#thuexe(type="checkbox", name="thuexe")
													label(for="thuexe") Dịch vụ thuê xe điện
											.col-12
												.form-group
													label Ghi chú
													textarea(name="", cols="30", rows="3")
										//- .frm-btn
											input(type="submit", value="Nhận báo giá")
										.total-money Tổng tiền: <strong>5.000.000 đ</strong>
							.btn-wrap
								a.btn-continue(href="#") Thêm vào giỏ hàng
			#product-tabs
				ul.tabs
					li 
						a(href="#tab-1") Bảng giá chi tiết
					li 
						a(href="#tab-2") Vị trí
					li 
						a(href="#tab-3") Thẻ điểm
					li 
						a(href="#tab-4") Đánh giá
					li 
						a(href="#tab-5") Hỏi đáp
				#tab-1.tab-content
					section.price-table.clearfix
						.page-title Bảng giá chi tiết
						table.table.pc-table
							thead
								tr
									th Loại sân
									th Sáng
									th Trưa
									th Tối
									th Sáng cuối tuần
									th Chiều cuối tuần
									th Tối cuối tuần
							tbody
								tr
									td.datetime(colspan="7") Từ ngày 29/07/2017 - 10/09/2017
								tr
									td 18 lỗ
									td 
										.price 2.300.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgolf") Đặt sân
									td 
										.price 3.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
								tr
									td 27 lỗ
									td 
										.price 2.300.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgolf") Đặt sân
									td 
										.price 3.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
								tr
									td 36 lỗ
									td 
										.price 2.300.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgolf") Đặt sân
									td 
										.price 3.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
									td 
										.price 5.000.000 đ
										.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
						table.mobile-golf-table.mobile-table
							tr
								th Từ ngày 29/07/2017 - 10/09/2017
								td
									.product-name 18 lỗ
									.product-des
										ul
											li 
												span Sáng
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Trưa
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Tối
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Sáng cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Trưa cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Tối cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
								td
									.product-name 27 lỗ
									.product-des
										ul
											li 
												span Sáng
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Trưa
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Tối
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Sáng cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Trưa cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Tối cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
								td
									.product-name 36 lỗ
									.product-des
										ul
											li 
												span Sáng
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Trưa
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Tối
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Sáng cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Trưa cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
											li 
												span Tối cuối tuần
												.product-price 2.300.000 đ
												.btn-book(data-toggle="modal" data-target="#bookgoft") Đặt sân
					section.golf-description.clearfix
						.page-title Mô tả chi tiết
						.content
							p Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi.
								br
								|Nó cung cấp các khóa học chất lượng hàng đầu với tiêu chuẩn quốc tế về dịch vụ và hệ thống, và các tiện nghi hiện đại.
								br
								|Được thiết kế bởi Nelson & Wys nổi tiếng thế giới, khóa học được thiết kế để đáp ứng các tiêu chuẩn PGA với tổng cộng 36 lỗ, mỗi lỗ có 9 lỗ tại ABCD.
								br
								|Một khóa học 3.729 m, B khóa học 3.620 m, khóa C 3.747 mét, D khóa học 3.619 m.
								br
								|Mỗi khóa học đều mang tính độc đáo theo cách riêng của nó. Nó có nhiều khóa học vui nhộn với các luồng thách thức, nguy cơ va đập nước và bể chứa cho người mới bắt đầu.
								br
								|Các trò chơi ban đêm dưới ánh sáng của các tiêu chuẩn quốc tế mang lại niềm vui tuyệt vời.
								br
								|Các giống cỏ được thiết kế với Platinum Paspalum và TifEagle.
							figure
								img(src="http://vn.monkeytravel.com/attach/product/KRVN/201704/x1491095871073579_1.jpg.pagespeed.ic.Xp1sckMhM2.webp", alt="")
								figcaption Bản đồ sân golf
							
							p Tower Club được thiết kế theo phong cách cổ điển hiện đại và cung cấp sang trọng 5 sao với các vật liệu nhập khẩu từ Châu Âu và Hoa Kỳ.
								br
								|Các tiện ích bao gồm nhà câu lạc bộ, nhà hàng, người tổ chức hội nghị, sân tập golf, cửa hàng chuyên dụng, tủ khóa, phòng xông hơi, vv
								br
								|Chúng tôi có một hội trường sự kiện có thể chứa đến 2000 người và cũng là một chuyến đi kinh doanh tốt.
							
							p Dãy lái xe 240 m, với chương trình quốc tế riêng, thực hành ban đêm, và 2 tầng, bao gồm 68 bậc.
							
							p Đây là một sân gôn là khẩu hiệu "tìm kiếm giá trị mới ở một điểm đến mới".
								br
								|Nhân viên nói tiếng Hàn, các mốc quan trọng và các món ăn bằng tiếng Hàn, bạn có thể thưởng thức golf thoải mái hơn.
								br
								|Hãy chơi một trò chơi hay như một sân gôn.
				#tab-2.tab-content
					.golf-map
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7586593722426!2d106.64789251538394!3d10.829772292285359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752974893abdf5%3A0x1f1405c13499590b!2zVMOibiBTxqFuIE5o4bqldCBHb2xmIENvdXJzZQ!5e0!3m2!1sen!2s!4v1506411890672" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen)
				#tab-3.tab-content
					.content
						p
							strong EAST COURSE
						figure
							img(src="http://image.monkeytravel.com/attach/ckeditor/KRVN/201704/o_1bcmpj81oghs72b1tsv6l81ou6a.jpg?w=740&h=0", alt="")
						
						p
							strong WEST COURSE
						figure
							img(src="http://image.monkeytravel.com/attach/ckeditor/KRVN/201704/o_1bcmpjbbpuqj5h41lfc160g1rfkc.jpg?w=740&h=0", alt="")
						
				#tab-4.tab-content
					
					.product-review
						h2.page-title Đánh giá
						.point-wrap
							.flex.flex-wrap.clearfix
								.point-average
									.module-title Đánh giá trung bình
									.point 4.0
									.favorite
										ul.star-list
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
									.amount (10 đánh giá)
								.point-detail
									.point-row
										.level 5 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w50
										.status 50% Rất hài lòng
									.point-row
										.level 4 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w30
										.status 30% Hài lòng
									.point-row
										.level 3 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w20
										.status 20% Bình thường
									.point-row
										.level 2 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w0
										.status 0% Dưới trung bình
									.point-row
										.level 1 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w0
										.status 0% Thất vọng
								.comment-input
									//- .form-group
										input(type="text", placeholder="Họ tên*")
									//- .form-group
										input(type="text", placeholder="Email")
									.form-group.w100
										textarea(name="", cols="30", rows="3", placeholder="Nội dung bình luận...")
									.btnwrap
										input(type="submit", value="Gửi bình luận")
				#tab-5.tab-content
					.product-faq
						table.qa-table
							tr
								th Number
								th Chủ đề
								th Tác giả
								th Ngày
							tr.qa-title
								td 1
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 2
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 3
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 4
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 5
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 6
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 7
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 8
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 9
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
							tr.qa-title
								td 10
								td Thủ tục đặt tour như thế nào?
								td username@gmail.com
								td 12/12/2016
							tr.qa-answer
								td(colspan="4")
									.qa-content
										.author Admin
										time 13h54 16/11/2017
										.content
											p Hello 
											p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
											p Thank you .. ^^
						.btn-wrap
							a.btn-sendmess(href="#!") Gửi câu hỏi
						.send-mess
							.module-title Gửi câu hỏi
							.form-wrap
								//- .form-group
								//- 	input(type="text" placeholder="Họ và tên")
								//- .form-group
								//- 	input(type="text" placeholder="Email")
								//- .form-group
								//- 	input(type="text" placeholder="Số điện thoại")
								.form-group
									textarea(name="", cols="30", rows="4", placeholder="Nội dung")
								.frm-btn
									input(type="submit", value="Gửi")
		.other-service.clearfix
			h2.page-title Dịch vụ liên quan
			.service-list
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/car/1.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Dịch vụ cho thuê xe 4 chỗ
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/hotel/p1.jpg", alt="")
								//- .img
								//- 	img(src="img/hotel/p2.jpg", alt="")
								//- .img
								//- 	img(src="img/hotel/p3.jpg", alt="")
								//- .img
								//- 	img(src="img/hotel/p4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Khách sạn Mường Thanh Đà Nẵng
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/golf/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Sân golf Montgomery
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Dịch vụ cho thuê xe 7 chỗ
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/tour/danang1.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/dalat.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/hontam.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/saigon2.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Du lịch Bà Nà Hill
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/golf/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Sân golf Đà Nẵng
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/tour/saigon2.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/dalat.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/hontam.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/saigon2.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Cùng thưởng thức ẩm thực miền Trung