.container
	section.hotel-page.golf-page.clearfix
		h1.home-title 
			strong Các địa điểm chơi golf 
			|phổ biến
		.place-list.clearfix
			.row
				.col-12.col-md-6
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/danang.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Đà Nẵng
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/hanoi.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Hà Nội
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/hue.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Huế
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/nhatrang.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Nha Trang
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/saigon.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Hồ Chí Minh
				.col-12.col-md-6
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/vungtau.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Vũng Tàu
		h1.home-title 
			strong Sân golf 
			|nổi tiếng
		.golf-list
			.row
				article.col-12.col-md-6.col-lg-4
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/1.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/2.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/3.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/4.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/5.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.golf-card
						figure
							a.golf-img(href="#")
								img(src="img/golf/6.jpg", alt="")
							figcaption
								h3.golf-name
									a(href="#") [Hồ Chí Minh] Sân gôn Thanh Sơn
								.golf-round hơn 36 lỗ
								.golf-des Mở cửa vào năm 2015, CLB Golf Hsinchu nằm ở Sân bay Hsinchu và là sân gôn 36 lỗ gần nhất cách thành phố Hồ Chí Minh 15 phút đi xe hơi. Dịch vụ và hệ thống tiêu chuẩn quốc tế, hiện đại ...
								.golf-price
									.new 50.000.000 đ