
.container
	//- include searchhotel
	section.hotel-page.clearfix
		.hotel-info.clearfix
			.hotel-rating Xuất sắc 
				strong 8.5
			h1.hotel-name A La Carte Da Nang Beach Hotel
				.hotel-star
					<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			.hotel-location <i class="fa fa-map-marker" aria-hidden="true"></i> 200 Võ Nguyên Giáp, Quận Sơn Trà, Tp. Đà Nẵng, Việt Nam, Phước Mỹ, Đà Nẵng, Việt Nam agoda - 
				a(href="https://www.google.com/maps/place/200+V%C3%B5+Nguy%C3%AAn+Gi%C3%A1p,+Ph%C6%B0%E1%BB%9Bc+M%E1%BB%B9,+S%C6%A1n+Tr%C3%A0,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vietnam/@16.0685128,108.2430507,17z/data=!3m1!4b1!4m5!3m4!1s0x314217840b580369:0x585a6fa989a51dfb!8m2!3d16.0685077!4d108.2452394" data-fancybox) Xem bản đồ
			a.btn-like(href="#")
		.favorite-service.clearfix
			.label Các dịch vụ bạn yêu thích
			.service-list.clearfix
				.service-card
					.icon
						img(src="img/icon/beach.png", alt="")
					.des Cách bãi biển 100m
				.service-card
					.icon
						img(src="img/icon/wifi.png", alt="")
					.des Miễn phí wifi tất cả các phòng
				.service-card
					.icon
						img(src="img/icon/cleaner.png", alt="")
					.des Dịch vụ phòng hàng ngày
				.service-card
					.icon
						img(src="img/icon/bar.png", alt="")
					.des Quầy bar
		.hotel-picture.clearfix
			h2.page-title Hình ảnh
			.picture-slide
				.item
					a.pic(href="img/room/1.jpg" data-fancybox="gal1")
						img(src="img/picture/1.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/2.jpg" data-fancybox="gal1")
						img(src="img/picture/2.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/3.jpg" data-fancybox="gal1")
						img(src="img/picture/3.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/4.jpg" data-fancybox="gal1")
						img(src="img/picture/4.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/5.jpg" data-fancybox="gal1")
						img(src="img/picture/5.jpg", alt="")
						span.caption caption 1
		h2.page-title Chọn phòng
		.room-list.clearfix
			.row
				.col-12.col-md-6.col-lg-4
					.room-card
						figure
							a.room-img(href="#")
								img(src="img/room/1.jpg", alt="")
								span.btn-viewdetail <i class="fa fa-search-plus" aria-hidden="true"></i> Xem chi tiết
							figcaption
								.room-title 2 phòng ngủ Executive Suite (2 Bedroom Executive Suite)
								.room-des.content
									ul
										li Hướng phòng: biển
										li 74m<sup>2</sup>/797 ft<sup>2</sup>
										li 1 giường ngủ, 1 totel
								a.btn-viewprice(href="#search") Chọn ngày để xem giá phòng
				.col-12.col-md-6.col-lg-4
					.room-card
						figure
							a.room-img(href="#")
								img(src="img/room/2.jpg", alt="")
								span.btn-viewdetail <i class="fa fa-search-plus" aria-hidden="true"></i> Xem chi tiết
							figcaption
								.room-title 2 phòng ngủ Executive Suite (2 Bedroom Executive Suite)
								.room-des.content
									ul
										li Hướng phòng: biển
										li 74m<sup>2</sup>/797 ft<sup>2</sup>
										li 1 giường ngủ, 1 totel
								a.btn-viewprice(href="#search") Chọn ngày để xem giá phòng
				.col-12.col-md-6.col-lg-4
					.room-card
						figure
							a.room-img(href="#")
								img(src="img/room/3.jpg", alt="")
								span.btn-viewdetail <i class="fa fa-search-plus" aria-hidden="true"></i> Xem chi tiết
							figcaption
								.room-title 2 phòng ngủ Executive Suite (2 Bedroom Executive Suite)
								.room-des.content
									ul
										li Hướng phòng: biển
										li 74m<sup>2</sup>/797 ft<sup>2</sup>
										li 1 giường ngủ, 1 totel
								a.btn-viewprice(href="#search") Chọn ngày để xem giá phòng
				.col-12.col-md-6.col-lg-4
					.room-card
						figure
							a.room-img(href="#")
								img(src="img/room/4.jpg", alt="")
								span.btn-viewdetail <i class="fa fa-search-plus" aria-hidden="true"></i> Xem chi tiết
							figcaption
								.room-title 2 phòng ngủ Executive Suite (2 Bedroom Executive Suite)
								.room-des.content
									ul
										li Hướng phòng: biển
										li 74m<sup>2</sup>/797 ft<sup>2</sup>
										li 1 giường ngủ, 1 totel
								a.btn-viewprice(href="#search") Chọn ngày để xem giá phòng
				.col-12.col-md-6.col-lg-4
					.room-card
						figure
							a.room-img(href="#")
								img(src="img/room/5.jpg", alt="")
								span.btn-viewdetail <i class="fa fa-search-plus" aria-hidden="true"></i> Xem chi tiết
							figcaption
								.room-title 2 phòng ngủ Executive Suite (2 Bedroom Executive Suite)
								.room-des.content
									ul
										li Hướng phòng: biển
										li 74m<sup>2</sup>/797 ft<sup>2</sup>
										li 1 giường ngủ, 1 totel
								a.btn-viewprice(href="#search") Chọn ngày để xem giá phòng
				.col-12.col-md-6.col-lg-4
					.room-card
						figure
							a.room-img(href="#")
								img(src="img/room/6.jpg", alt="")
								span.btn-viewdetail <i class="fa fa-search-plus" aria-hidden="true"></i> Xem chi tiết
							figcaption
								.room-title 2 phòng ngủ Executive Suite (2 Bedroom Executive Suite)
								.room-des.content
									ul
										li Hướng phòng: biển
										li 74m<sup>2</sup>/797 ft<sup>2</sup>
										li 1 giường ngủ, 1 totel
								a.btn-viewprice(href="#search") Chọn ngày để xem giá phòng
		.hotel-compare.clearfix
			h2.page-title So sánh với các khách sạn tương tự
			.compare-table.clearfix
				.compare-field
					.empty
					.review Đánh giá của khách
					.area Khu vực lân cận
					.wifi Wifi
					.breakfast Bữa sáng
					.button
				.compare-list
					.compare-card.selected
						figure
							.hotel-img
								img(src="img/hotel/1.jpg", alt="")
							figcaption
								h3.hotel-name
									a(href="#") A La Carte Da Nang Beach Hotel
								.hotel-star
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.compare-info
									.review Xuất sắc 8.5 
										span (1579 nhận xét)
									.area Phước Mỹ
									.wifi Miễn phí Wifi
									.breakfast
										.on Phục vụ bữa sáng
								.button
									a.btn-view(href="#") Chọn ngày
					.compare-card
						figure
							.hotel-img
								img(src="img/hotel/1.jpg", alt="")
							figcaption
								h3.hotel-name
									a(href="#") A La Carte Da Nang Beach Hotel
								.hotel-star
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.compare-info
									.review Xuất sắc 8.5 
										span (1579 nhận xét)
									.area Phước Mỹ
									.wifi Miễn phí Wifi
									.breakfast
										.off Phục vụ bữa sáng
								.button
									a.btn-view(href="#") Xem nơi này
					.compare-card
						figure
							.hotel-img
								img(src="img/hotel/1.jpg", alt="")
							figcaption
								h3.hotel-name
									a(href="#") A La Carte Da Nang Beach Hotel
								.hotel-star
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.compare-info
									.review Xuất sắc 8.5 
										span (1579 nhận xét)
									.area Phước Mỹ
									.wifi Miễn phí Wifi
									.breakfast
										.off Phục vụ bữa sáng
								.button
									a.btn-view(href="#") Xem nơi này
					.compare-card
						figure
							.hotel-img
								img(src="img/hotel/1.jpg", alt="")
							figcaption
								h3.hotel-name
									a(href="#") A La Carte Da Nang Beach Hotel
								.hotel-star
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.compare-info
									.review Xuất sắc 8.5 
										span (1579 nhận xét)
									.area Phước Mỹ
									.wifi Miễn phí Wifi
									.breakfast
										.off Phục vụ bữa sáng
								.button
									a.btn-view(href="#") Xem nơi này
		.hotel-service.clearfix
			h2.page-title Dịch vụ thiết yếu gần nhất
			.row
				.col-12.col-sm-6.col-md-4.col-lg-3
					.service-col
						.service-title <i class="fa fa-plane" aria-hidden="true"></i> Sân bay gần đây nhất
						ul.service-list
							li Sân bay Đà Nẵng
								span 5,6 km
							li Sân bay Quốc tế Phú Bài (HUI)
								span 68,7 km
				.col-12.col-sm-6.col-md-4.col-lg-3
					.service-col
						.service-title <i class="fa fa-bus" aria-hidden="true"></i> Phương tiện công cộng
						ul.service-list
							li Trạm xe buýt
								span 5,6 km
							li Ga tàu điện
								span 68,7 km
				.col-12.col-sm-6.col-md-4.col-lg-3
					.service-col
						.service-title <i class="fa fa-hospital-o" aria-hidden="true"></i> Bệnh viện
						ul.service-list
							li Bệnh viện Đà Nẵng
								span 5,6 km
							li Bệnh viện quân y 175
								span 68,7 km
				.col-12.col-sm-6.col-md-4.col-lg-3
					.service-col
						.service-title <i class="fa fa-university" aria-hidden="true"></i> Ngân hàng
						ul.service-list
							li ATM Vietcombank
								span 5,6 km
							li Phòng giao dịch Sacombank
								span 68,7 km
		.hotel-description.clearfix
			h2.page-title Mô tả chi tiết
			.hotel-des.content
				p Khiêm tốn nằm trong trung tâm của Bãi Biển Mỹ Khê, A La Carte Da Nang Beach Hotel là điểm lý tưởng cho du khách muốn khám phá Đà Nẵng. Chỉ cách sân bay 6km, nên từ sân bay rất dễ để đi đến khách sạn 4 sao này. Với vị trí thuận lợi, khách sạn dễ dàng tiếp cận những điểm tham quan du lịch nổi tiếng của thành phố.
				p Tại A La Carte Da Nang Beach Hotel, mọi sự cố gắng đều nhằm mục đích khiến cho du khách hài lòng. Để làm được điều đó, khách sạn sẽ cung cấp dịch vụ và tiện nghi tốt nhất. Khách sạn trang bị một loạt thiết bị trực tuyến để nhằm thỏa mãn cả vị khách khó tính nhất.
				p Tất cả nơi ăn chốn ở của khách đều có trang bị tiện nghi chu đáo để bảo đảm khách có cảm giác dễ chịu không nơi nào sánh được. Trong suốt một ngày, bạn có thể tận hưởng không khí thư giãn của khu vui chơi trẻ em, phòng trò chơi, spa, câu lạc bộ trẻ em, tắm hơi. A La Carte Da Nang Beach Hotel là nơi bạn có thể dừng chân ở một khách sạn chất lượng tại Đà Nẵng.
			.small-title Đặc điểm chi tiết
			.specify-list.clearfix
				.specify-col
					.title <i class="fa fa-wifi" aria-hidden="true"></i> Truy cập internet 
					ul
						li Wifi miễn phí tất cả các phòng
						li Wifi công cộng
				.specify-col
					.title <i class="fa fa-cutlery" aria-hidden="true"></i> Ăn uống
					ul
						li Bếp
						li Giao hàng tạp hóa
						li Quán cà phê
						li Cửa hàng tiện lợi
						li Quán ăn
						li Quầy bar
						li Dịch vụ phòng [24 giờ]
						li Quán bar cạnh hồ bơi
						li Vật dụng nướng BBQ
		.other-service.clearfix
			h2.page-title Dịch vụ liên quan
			.service-list
				.row
					.col-12.col-md-4
						.service
							figure
								a.service-img(href="#")
									.img
										img(src="img/car/1.jpg", alt="")
									.img
										img(src="img/car/2.jpg", alt="")
									.img
										img(src="img/car/3.jpg", alt="")
									.img
										img(src="img/car/4.jpg", alt="")
								figcaption
									.service-name
										a(href="#") Dịch vụ cho thuê xe
					.col-12.col-md-4
						.service
							figure
								a.service-img(href="#")
									.img
										img(src="img/golf/1.jpg", alt="")
									//- .img
									//- 	img(src="img/golf/2.jpg", alt="")
									//- .img
									//- 	img(src="img/golf/3.jpg", alt="")
									//- .img
									//- 	img(src="img/golf/4.jpg", alt="")
								figcaption
									.service-name
										a(href="#") Dịch vụ đặt sân golf
					.col-12.col-md-4
						.service
							figure
								a.service-img(href="#")
									.img
										img(src="img/tour/danang.jpg", alt="")
									//- .img
									//- 	img(src="img/tour/dalat.jpg", alt="")
									//- .img
									//- 	img(src="img/tour/hontam.jpg", alt="")
									//- .img
									//- 	img(src="img/tour/saigon2.jpg", alt="")
								figcaption
									.service-name
										a(href="#") Dịch vụ đặt tour