
.container
	//- include searchhotel
	section.hotel-page.product-page.clearfix
		h1.product-main-name 
			.tag.hotel Hotel
			|Hyatt Regency Danang Resort And Spa
		.row
			.col-12.col-lg-6
				.slide-wrap
					.product-slide
						.item
							a.img(href="img/hotel/p1.jpg" data-fancybox="gal1")
								img(src="img/hotel/p1.jpg", alt="")
						.item
							a.img(href="img/hotel/p2.jpg" data-fancybox="gal1")
								img(src="img/hotel/p3.jpg", alt="")
						.item
							a.img(href="img/hotel/p1.jpg" data-fancybox="gal1")
								img(src="img/hotel/p1.jpg", alt="")
						.item
							a.img(href="img/hotel/p4.jpg" data-fancybox="gal1")
								img(src="img/hotel/p4.jpg", alt="")
						.item
							a.img(href="img/hotel/p5.jpg" data-fancybox="gal1")
								img(src="img/hotel/p5.jpg", alt="")
						.item
							a.img(href="img/hotel/p6.jpg" data-fancybox="gal1")
								img(src="img/hotel/p6.jpg", alt="")
						.item
							a.img(href="img/hotel/p7.jpg" data-fancybox="gal1")
								img(src="img/hotel/p7.jpg", alt="")
						.item
							a.img(href="img/hotel/p8.jpg" data-fancybox="gal1")
								img(src="img/hotel/p8.jpg", alt="")
					.product-nav
						.item
							.img
								img(src="img/hotel/p1.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p2.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p3.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p4.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p5.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p6.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p7.jpg", alt="")
						.item
							.img
								img(src="img/hotel/p8.jpg", alt="")
			.col-12.col-lg-6
				.product-info
					.info-table
						.group
							.label Được đánh giá
							.value.point
								strong 8.5 
								|điểm
						.group
							.label Số sao
							.value
								<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
						.group
							.label Khu vực
							.value.location TP.Đà Nẵng, Việt Nam
						.group
							.label Địa chỉ
							.value.address 05 Trường Sa, Hoa Hai Ward 
								a(href="https://www.google.com/maps/place/200+V%C3%B5+Nguy%C3%AAn+Gi%C3%A1p,+Ph%C6%B0%E1%BB%9Bc+M%E1%BB%B9,+S%C6%A1n+Tr%C3%A0,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vietnam/@16.0685128,108.2430507,17z/data=!3m1!4b1!4m5!3m4!1s0x314217840b580369:0x585a6fa989a51dfb!8m2!3d16.0685077!4d108.2452394" data-fancybox) Xem bản đồ
						.group
							.label Số điện thoại
							.value.phone
								a(href="tel:+84 236 398 1234") +84 236 398 1234
						.group
							.label Trang chủ
							.value.weblink 
								a(href="#!") https://danang.regency.hyatt.com/en/hotel/home.html
						.group
							.label Loại
							.value.type-tag
								a(href="#") Resort
								a(href="#") Pool Villa
						.group
							.label Giá chỉ từ
							.value.price
								strong 2.000.000 đ
						.share
							img(src="img/share.png", alt="")
		.favorite-service.clearfix
			.label Các dịch vụ bạn yêu thích
			.service-list.clearfix
				.service-card
					.icon
						img(src="img/icon/beach.png", alt="")
					.des Cách bãi biển 100m
				.service-card
					.icon
						img(src="img/icon/wifi.png", alt="")
					.des Miễn phí wifi tất cả các phòng
				.service-card
					.icon
						img(src="img/icon/cleaner.png", alt="")
					.des Dịch vụ phòng hàng ngày
				.service-card
					.icon
						img(src="img/icon/bar.png", alt="")
					.des Quầy bar
		//- .hotel-picture.clearfix
			h2.page-title Hình ảnh
			.picture-slide
				.item
					a.pic(href="img/room/1.jpg" data-fancybox="gal1")
						img(src="img/picture/1.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/2.jpg" data-fancybox="gal1")
						img(src="img/picture/2.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/3.jpg" data-fancybox="gal1")
						img(src="img/picture/3.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/4.jpg" data-fancybox="gal1")
						img(src="img/picture/4.jpg", alt="")
						span.caption caption 1
				.item
					a.pic(href="img/room/5.jpg" data-fancybox="gal1")
						img(src="img/picture/5.jpg", alt="")
						span.caption caption 1
		#product-tabs
			ul.tabs
				li
					a(href="#tab-1") Bảng giá / chi tiết
				li 
					a(href="#tab-2") Đánh giá
				li 
					a(href="#tab-3") Hỏi đáp
			#tab-1.tab-content
				section.hotel-room.clearfix
					h2.page-title Chọn phòng
					.room-list.pc-room-list.clearfix
						.room-group
							.room-type Phòng Studio 1 phòng ngủ (1 Bedroom Studio)
							.room-intro
								figure
									a.room-img(href="#")
										img(src="img/room/1.jpg", alt="")
									figcaption
										.room-des
											ul
												li 
													.ic.ic16 
														img(src="img/iconpack/beach.png", alt="")
													| Hướng phòng: biển
												li 
													.ic.ic16 
														img(src="img/iconpack/bath.png", alt="")
													| Phòng tắm: có bồn tắm
												li 
													.ic.ic16 
														img(src="img/iconpack/bed.png", alt="")
													| 2 giường
							.room-booking
								.table-head
									.baogom Bao gồm
									.succhua Sức chứa
									.giaphong Giá phòng / đêm
									.sl SL
									.datphong
								.table-room
									.room
										.baogom
											ul
												li 
													.ic.ic16 
														img(src="img/iconpack/cafe.png", alt="")
													| Nước uống chào đón
												li 
													.ic.ic16 
														img(src="img/iconpack/food.png", alt="")
													| Phục vụ ăn sáng
												li 
													.ic.ic16 
														img(src="img/iconpack/clean.png", alt="")
													| Phục vụ dọn phòng
												li 
													.ic.ic16 
														img(src="img/iconpack/cancel.png", alt="")
													| Chính sách hủy phòng
												li 
													.ic.ic16 
														img(src="img/iconpack/bed.png", alt="")
													| Extra bed
										.succhua 2 x <i class="fa fa-user" aria-hidden="true"></i>
										.giaphong 
											.old 2.000.000 đ
											.new 1.500.000 đ
											.des Thuế 10%, phí dịch vụ 5%
										.sl
											select
												option 1
												option 2
												option 3
										.datphong
											a.btn-book(href="#!") Đặt phòng ngay
							section.hotel-booking
								.row
									.col-12
										.booking-info.clearfix
											.booking-date
												.from
													.date 07
													.des Thứ Năm
														br
														|Thg 9 2017
												.to
													.date 09
													.des Thứ Bảy
														br
														|Thg 9 2017
									.col-12.col-lg-6
										.booking-form.clearfix
											.main-form.clearfix
												.form-title Thông tin đặt phòng
												.form-wrap
													.row
														.form-group.col-12
															label(for="#") Họ và tên
															input(type="text")
														.form-group.col-12
															label(for="#") Email
															input(type="text")
														.form-group.col-12.col-md-6
															label(for="#") Số điện thoại di động
															input(type="text")
														.form-group.col-12.col-md-6
															label(for="#") Quốc gia cư trú
															select
																option(value="#") Việt Nam
											//- .booking-for.checkbox
												input#otherperson(type="checkbox", name="otherperson")
												label#btn-bookfor(for="otherperson") Tôi đặt phòng giúp người khác
											//- .sub-form.clearfix#booking-for-form
												.form-title Thông tin Khách hàng
												.form-wrap
													.row
														.form-group.col-12
															label(for="#") Họ và tên
															input(type="text")
														.form-group.col-12.col-md-6
															label(for="#") Quốc gia cư trú
															select
																option(value="#") Việt Nam
									.col-12.col-lg-6
										.require-form.clearfix
											.form-title Yêu cầu đặc biệt
											.form-des Chúng tôi sẽ báo cho khách sạn hoặc chủ nhà ngay sau khi bạn đặt phòng!
											.btn-showform Thêm yêu cầu đặc biệt của bạn
											.form-wrap
												.module-title Vui lòng lưu ý tất cả các yêu cầu chỉ được đáp ứng tùy theo khách sạn.
												.form-group
													ul
														li.checkbox
															input#yk1(type="checkbox", name="yk")
															label(for="yk1") Phòng không hút thuốc
														li.checkbox
															input#yk2(type="checkbox", name="yk")
															label(for="yk3") Phòng 2 giường
														li.checkbox
															input#yk3(type="checkbox", name="yk")
															label(for="yk3") Phòng tầng cao
														li.checkbox
															input#yk4(type="checkbox", name="yk")
															label(for="yk4") Phòng yên tĩnh
														li.checkbox
															input#yk5(type="checkbox", name="yk")
															label(for="yk5") Phòng giường lớn
												.duadon.checkbox
													input#duadon(type="checkbox", name="duadon")
													label#btn-duadon(for="duadon") Tôi muốn đăng ký đưa đón sân bay
												.form-duadon
													.module-title Chú thích: Nhận phòng sớm hoặc Đưa đón sân bay có thể sẽ tính thêm phụ phí. Xin vui lòng liên hệ khách sạn để xác nhận. Vui lòng nhập nội dung lời nhắn bằng tiếng Anh hoặc tiếng Việt
													.form-group
														textarea(name="", cols="30", rows="3", placeholder="Nhập số chuyến bay và thời gian hạ cánh. Yêu cầu của bạn không được đảm bảo hoàn toàn, xin vui lòng xác nhận lại với khách sạn.")
												.module-title Vui lòng nhập nội dung lời nhắn bằng tiếng Anh Hoặc tiếng Việt
												.form-group
													textarea(name="", cols="30", rows="3")
										.receive-form.clearfix
											.form-title Bạn đã biết khi nào sẽ đến nhận phòng chưa?
											.form-wrap
												.module-title Chọn thời gian đến dự kiến để chúng tôi thông báo với khách sạn hoặc chủ nhà
												.row
													.form-group.col-12.col-md-6
														select(name="")
															option(value="") Tôi chưa biết
															option 0:00 - 1:00
															option 1:00 - 2:00
															option 2:00 - 3:00
															option 3:00 - 4:00
															option 4:00 - 5:00
															option 5:00 - 6:00
															option 6:00 - 7:00
															option 7:00 - 8:00
															option 8:00 - 9:00
															option 9:00 - 10:00
										//- .frm-btn
											input(type="submit", value="Nhận báo giá")
										.total-money Tổng tiền: <strong>5.000.000 đ</strong>
								.btn-wrap.clearfix
									a.btn-continue(href="#!") Thêm vào giỏ hàng
						.room-group
							.room-type Phòng Studio 1 phòng ngủ (1 Bedroom Studio)
							.room-intro
								figure
									a.room-img(href="#")
										img(src="img/room/1.jpg", alt="")
									figcaption
										.room-des
											ul
												li 
													.ic.ic16 
														img(src="img/iconpack/beach.png", alt="")
													| Hướng phòng: biển
												li 
													.ic.ic16 
														img(src="img/iconpack/bath.png", alt="")
													| Phòng tắm: có bồn tắm
												li 
													.ic.ic16 
														img(src="img/iconpack/bed.png", alt="")
													| 2 giường
							.room-booking
								.table-head
									.baogom Bao gồm
									.succhua Sức chứa
									.giaphong Giá phòng / đêm
									.sl SL
									.datphong
								.table-room
									.room
										.baogom
											ul
												li 
													.ic.ic16 
														img(src="img/iconpack/cafe.png", alt="")
													| Nước uống chào đón
												li 
													.ic.ic16 
														img(src="img/iconpack/food.png", alt="")
													| Phục vụ ăn sáng
												li 
													.ic.ic16 
														img(src="img/iconpack/clean.png", alt="")
													| Phục vụ dọn phòng
												li 
													.ic.ic16 
														img(src="img/iconpack/cancel.png", alt="")
													| Chính sách hủy phòng
												li 
													.ic.ic16 
														img(src="img/iconpack/bed.png", alt="")
													| Extra bed
										.succhua 2 x <i class="fa fa-user" aria-hidden="true"></i>
										.giaphong 
											.old 2.000.000 đ
											.new 1.500.000 đ
											.des Thuế 10%, phí dịch vụ 5%
										.sl
											select
												option 1
												option 2
												option 3
										.datphong
											a.btn-book(href="#!") Đặt phòng ngay
						.room-group
							.room-type Phòng Studio 1 phòng ngủ (1 Bedroom Studio)
							.room-intro
								figure
									a.room-img(href="#")
										img(src="img/room/1.jpg", alt="")
									figcaption
										.room-des
											ul
												li 
													.ic.ic16 
														img(src="img/iconpack/beach.png", alt="")
													| Hướng phòng: biển
												li 
													.ic.ic16 
														img(src="img/iconpack/bath.png", alt="")
													| Phòng tắm: có bồn tắm
												li 
													.ic.ic16 
														img(src="img/iconpack/bed.png", alt="")
													| 2 giường
							.room-booking
								.table-head
									.baogom Bao gồm
									.succhua Sức chứa
									.giaphong Giá phòng / đêm
									.sl SL
									.datphong
								.table-room
									.room
										.baogom
											ul
												li 
													.ic.ic16 
														img(src="img/iconpack/cafe.png", alt="")
													| Nước uống chào đón
												li 
													.ic.ic16 
														img(src="img/iconpack/food.png", alt="")
													| Phục vụ ăn sáng
												li 
													.ic.ic16 
														img(src="img/iconpack/clean.png", alt="")
													| Phục vụ dọn phòng
												li 
													.ic.ic16 
														img(src="img/iconpack/cancel.png", alt="")
													| Chính sách hủy phòng
												li 
													.ic.ic16 
														img(src="img/iconpack/bed.png", alt="")
													| Extra bed
										.succhua 2 x <i class="fa fa-user" aria-hidden="true"></i>
										.giaphong 
											.old 2.000.000 đ
											.new 1.500.000 đ
											.des Thuế 10%, phí dịch vụ 5%
										.sl
											select
												option 1
												option 2
												option 3
										.datphong
											a.btn-book(href="#!") Đặt phòng ngay
					.mobile-room-list
						.row
							article.col-12.col-md-6
								.room-card
									figure
										.room-img
											img(src="img/room/1.jpg", alt="")
										figcaption
											.room-name Phòng Superior giường đôi
											.room-des
												ul
													li
														.ic.ic16 
															img(src="img/iconpack/bed.png", alt="")
														| 2 giường
													li 
														.ic.ic16 
															img(src="img/iconpack/cafe.png", alt="")
														| Nước uống chào đón
													li 
														.ic.ic16 
															img(src="img/iconpack/food.png", alt="")
														| Phục vụ ăn sáng
													li 
														.ic.ic16 
															img(src="img/iconpack/clean.png", alt="")
														| Phục vụ dọn phòng
											.room-policy
												ul
													li
														a(href="#!") Chính sách hủy phòng
											.room-book
												select
													option(value="") 1
													option(value="") 2
													option(value="") 3
												a.btn-book(href="#!") Đặt phòng
				section.hotel-service.clearfix
					h2.page-title Dịch vụ thiết yếu gần nhất
					.row
						.col-12.col-sm-6.col-md-4.col-lg-3
							.service-col
								.service-title
									.ic.ic32
										img(src="img/iconpack/plane.png", alt="")
									| Sân bay gần đây nhất
								ul.service-list
									li Sân bay Đà Nẵng
										span 5,6 km
									li Sân bay Quốc tế Phú Bài (HUI)
										span 68,7 km
						.col-12.col-sm-6.col-md-4.col-lg-3
							.service-col
								.service-title
									.ic.ic32
										img(src="img/iconpack/bus.png", alt="")
									| Phương tiện công cộng
								ul.service-list
									li Trạm xe buýt
										span 5,6 km
									li Ga tàu điện
										span 68,7 km
						.col-12.col-sm-6.col-md-4.col-lg-3
							.service-col
								.service-title 
									.ic.ic32
										img(src="img/iconpack/hospital.png", alt="")
									| Bệnh viện
								ul.service-list
									li Bệnh viện Đà Nẵng
										span 5,6 km
									li Bệnh viện quân y 175
										span 68,7 km
						.col-12.col-sm-6.col-md-4.col-lg-3
							.service-col
								.service-title
									.ic.ic32
										img(src="img/iconpack/atm.png", alt="")
									| ATM gần nhất
								ul.service-list
									li ATM Vietcombank
										span 5,6 km
									li ATM Sacombank
										span 68,7 km
				section.hotel-description.clearfix
					h2.page-title Mô tả chi tiết
					.hotel-des.content
						p Khiêm tốn nằm trong trung tâm của Bãi Biển Mỹ Khê, A La Carte Da Nang Beach Hotel là điểm lý tưởng cho du khách muốn khám phá Đà Nẵng. Chỉ cách sân bay 6km, nên từ sân bay rất dễ để đi đến khách sạn 4 sao này. Với vị trí thuận lợi, khách sạn dễ dàng tiếp cận những điểm tham quan du lịch nổi tiếng của thành phố.
						p Tại A La Carte Da Nang Beach Hotel, mọi sự cố gắng đều nhằm mục đích khiến cho du khách hài lòng. Để làm được điều đó, khách sạn sẽ cung cấp dịch vụ và tiện nghi tốt nhất. Khách sạn trang bị một loạt thiết bị trực tuyến để nhằm thỏa mãn cả vị khách khó tính nhất.
						p Tất cả nơi ăn chốn ở của khách đều có trang bị tiện nghi chu đáo để bảo đảm khách có cảm giác dễ chịu không nơi nào sánh được. Trong suốt một ngày, bạn có thể tận hưởng không khí thư giãn của khu vui chơi trẻ em, phòng trò chơi, spa, câu lạc bộ trẻ em, tắm hơi. A La Carte Da Nang Beach Hotel là nơi bạn có thể dừng chân ở một khách sạn chất lượng tại Đà Nẵng.
					.small-title Đặc điểm chi tiết
					.specify-list.clearfix
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/wifi.png", alt="")
							.content
								.title Truy cập internet 
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/modem.png", alt="")
										| Wifi miễn phí tất cả các phòng
									li 
										.ic.ic16 
											img(src="img/iconpack/network.png", alt="")
										| Wifi công cộng
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/swimming.png", alt="")
							.content
								.title Hoạt động thư giãn
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/party.png", alt="")
										| Câu lạc bộ đêm
									li 
										.ic.ic16 
											img(src="img/iconpack/weightlifting.png", alt="")
										| Phòng gym
									li 
										.ic.ic16 
											img(src="img/iconpack/swimming.png", alt="")
										| hồ bơi
									li 
										.ic.ic16 
											img(src="img/iconpack/garden.png", alt="")
										| Sân vườn
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/food.png", alt="")
							.content
								.title Ăn uống
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/meal.png", alt="")
										| Dịch vụ phòng (24 giờ)
									li 
										.ic.ic16 
											img(src="img/iconpack/cafe.png", alt="")
										| Quán cà phê
									li 
										.ic.ic16 
											img(src="img/iconpack/food2.png", alt="")
										| Quán ăn
									li 
										.ic.ic16 
											img(src="img/iconpack/bar.png", alt="")
										| Quầy bar
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/meal.png", alt="")
							.content
								.title Tiện nghi và dịch vụ
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/laundry.png", alt="")
										| dịch vụ giặt là
									li 
										.ic.ic16 
											img(src="img/iconpack/man.png", alt="")
										| nhân viên hướng dẫn
									li 
										.ic.ic16 
											img(src="img/iconpack/clean.png", alt="")
										| dịch vụ phòng
									li 
										.ic.ic16 
											img(src="img/iconpack/safe.png", alt="")
										| két sắt
									li 
										.ic.ic16 
											img(src="img/iconpack/atm.png", alt="")
										| atm
									li 
										.ic.ic16 
											img(src="img/iconpack/exchange.png", alt="")
										| thu đổi ngoại tệ
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/golf.png", alt="")
							.content
								.title Thể thao
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/golf.png", alt="")
										| sân golf
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/hat.png", alt="")
							.content
								.title Dành cho trẻ em
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/children.png", alt="")
										| Câu lạc bộ trẻ em
									li 
										.ic.ic16 
											img(src="img/iconpack/swimming.png", alt="")
										| Hồ bơi trẻ em
						.specify-col
							.icon
								.ic.ic32
									img(src="img/iconpack/shield.png", alt="")
							.content
								.title Phục vụ
								ul
									li 
										.ic.ic16 
											img(src="img/iconpack/cctv.png", alt="")
										| An ninh (24 giờ)
									li 
										.ic.ic16 
											img(src="img/iconpack/elevator.png", alt="")
										| thang máy
				section.hotel-compare.clearfix
					h2.page-title So sánh với các khách sạn tương tự
					.compare-table.clearfix
						.compare-field
							.empty
							.review Đánh giá của khách
							.area Khu vực lân cận
							.wifi Wifi
							.breakfast Bữa sáng
							.button
						.compare-list
							.compare-card.selected
								figure
									.hotel-img
										img(src="img/hotel/1.jpg", alt="")
									figcaption
										h3.hotel-name
											a(href="#") A La Carte Da Nang Beach Hotel
										.hotel-star
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
										.compare-info
											.review Xuất sắc 8.5 
												span (1579 nhận xét)
											.area Phước Mỹ
											.wifi Miễn phí Wifi
											.breakfast
												.on Phục vụ bữa sáng
										.button
											a.btn-view(href="#") Đặt phòng
							.compare-card
								figure
									.hotel-img
										img(src="img/hotel/1.jpg", alt="")
									figcaption
										h3.hotel-name
											a(href="#") A La Carte Da Nang Beach Hotel
										.hotel-star
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
										.compare-info
											.review Xuất sắc 8.5 
												span (1579 nhận xét)
											.area Phước Mỹ
											.wifi Miễn phí Wifi
											.breakfast
												.off Phục vụ bữa sáng
										.button
											a.btn-view(href="#") Xem nơi này
							.compare-card
								figure
									.hotel-img
										img(src="img/hotel/1.jpg", alt="")
									figcaption
										h3.hotel-name
											a(href="#") A La Carte Da Nang Beach Hotel
										.hotel-star
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
										.compare-info
											.review Xuất sắc 8.5 
												span (1579 nhận xét)
											.area Phước Mỹ
											.wifi Miễn phí Wifi
											.breakfast
												.off Phục vụ bữa sáng
										.button
											a.btn-view(href="#") Xem nơi này
							.compare-card
								figure
									.hotel-img
										img(src="img/hotel/1.jpg", alt="")
									figcaption
										h3.hotel-name
											a(href="#") A La Carte Da Nang Beach Hotel
										.hotel-star
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
										.compare-info
											.review Xuất sắc 8.5 
												span (1579 nhận xét)
											.area Phước Mỹ
											.wifi Miễn phí Wifi
											.breakfast
												.off Phục vụ bữa sáng
										.button
											a.btn-view(href="#") Xem nơi này
			#tab-2.tab-content
				section.hotel-review.clearfix
					h2.page-title Đánh giá
					.point-wrap
						.flex.flex-wrap.clearfix
							.point-average
								.module-title Đánh giá trung bình
								.point 4.0
								.favorite
									ul.star-list
										li.star.active 
											a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
										li.star.active 
											a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
										li.star.active 
											a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
										li.star.active 
											a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
										li.star
											a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
								.amount (10 đánh giá)
							.point-detail
								.point-row
									.level 5 <i class="fa fa-star" aria-hidden="true"></i>
									.percen
										.current-percen.w50
									.status 50% Rất hài lòng
								.point-row
									.level 4 <i class="fa fa-star" aria-hidden="true"></i>
									.percen
										.current-percen.w30
									.status 30% Hài lòng
								.point-row
									.level 3 <i class="fa fa-star" aria-hidden="true"></i>
									.percen
										.current-percen.w20
									.status 20% Bình thường
								.point-row
									.level 2 <i class="fa fa-star" aria-hidden="true"></i>
									.percen
										.current-percen.w0
									.status 0% Dưới trung bình
								.point-row
									.level 1 <i class="fa fa-star" aria-hidden="true"></i>
									.percen
										.current-percen.w0
									.status 0% Thất vọng
							.comment-input
								//- .form-group
									input(type="text", placeholder="Họ tên*")
								//- .form-group
									input(type="text", placeholder="Email")
								.form-group.w100
									textarea(name="", cols="30", rows="3", placeholder="Nội dung bình luận...")
								.btnwrap
									input(type="submit", value="Gửi bình luận")
			#tab-3.tab-content
				section.hotel-qa.clearfix.product-faq
					table.qa-table
						tr
							th Number
							th Chủ đề
							th Tác giả
							th Ngày
						tr.qa-title
							td 1
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 2
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 3
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 4
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 5
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 6
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 7
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 8
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 9
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
						tr.qa-title
							td 10
							td Thủ tục đặt tour như thế nào?
							td username@gmail.com
							td 12/12/2016
						tr.qa-answer
							td(colspan="4")
								.qa-content
									.author Admin
									time 13h54 16/11/2017
									.content
										p Hello 
										p there is peak seasons in the period (we will send 3 million digits of peak seasons to invoices) and the gala dinners are not obligatory and will not be included in the invoices. 
										p Thank you .. ^^
					.btn-wrap
						a.btn-sendmess(href="#!") Gửi câu hỏi
					.send-mess
						.module-title Gửi câu hỏi
						.form-wrap
							//- .form-group
							//- 	input(type="text" placeholder="Họ và tên")
							//- .form-group
							//- 	input(type="text" placeholder="Email")
							//- .form-group
							//- 	input(type="text" placeholder="Số điện thoại")
							.form-group
								textarea(name="", cols="30", rows="4", placeholder="Nội dung")
							.frm-btn
								input(type="submit", value="Gửi")
		section.other-service.clearfix
			h2.page-title Dịch vụ liên quan
			.service-list
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/car/1.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Dịch vụ cho thuê xe 4 chỗ
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/hotel/p1.jpg", alt="")
								//- .img
								//- 	img(src="img/hotel/p2.jpg", alt="")
								//- .img
								//- 	img(src="img/hotel/p3.jpg", alt="")
								//- .img
								//- 	img(src="img/hotel/p4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Khách sạn Mường Thanh Đà Nẵng
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/golf/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Sân golf Montgomery
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Dịch vụ cho thuê xe 7 chỗ
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/tour/danang1.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/dalat.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/hontam.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/saigon2.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Du lịch Bà Nà Hill
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/golf/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/2.jpg", alt="")
								//- .img
								//- 	img(src="img/car/3.jpg", alt="")
								//- .img
								//- 	img(src="img/car/4.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Sân golf Đà Nẵng
				.item
					.service
						figure
							a.service-img(href="#")
								.img
									img(src="img/tour/saigon2.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/dalat.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/hontam.jpg", alt="")
								//- .img
								//- 	img(src="img/tour/saigon2.jpg", alt="")
							figcaption
								.service-name
									a(href="#") Cùng thưởng thức ẩm thực miền Trung