.container
section.home-section.home-intro.clearfix
	.container
		.intro-wrap
			h1.home-title
				strong Đặt trước 
				|ngay hôm nay
			.home-booking-step
				.row
					.col-12.col-sm-4
						.step
							.caption
								.name 
									.number 1
									span Lựa chọn
								.des Tìm kiếm vị trí bạn muốn đến và tất cả các dịch vụ bạn cần cho chuyến đi của mình bằng công cụ lọc thông minh từ Tour Link.
					.col-12.col-sm-4
						.step
							.caption
								.name 
									.number 2
									span Xác định
								.des Chọn lọc bằng cách xem thông tin, ảnh hay đọc các review về địa điểm và dịch vụ hoàn hảo cho bạn trong danh sách đề xuất.
					.col-12.col-sm-4
						.step
							.caption
								.name 
									.number 3
									span Khám phá
								.des Xách hành lý và lên đường khám phá thật trọn vẹn chuyến đi. Hãy luôn an tâm bởi sự chuẩn bị hoàn với sự trợ giúp của Tour Link!
section.home-section.home-hotsale.clearfix
	.container
		.title-wrap.clearfix
			h2.home-title
				strong Khuyến mãi 
				|hot nhất
			a.btn-viewmore(href="#") Xem thêm
		.hotel-list.clearfix
			.row.no-gutters
				article.col-12.col-sm-6.col-md-3
					.hotel-card
						figure
							a.hotel-img(href="#")
								img(src="img/hotel/1.jpg", alt="")
								.promotion.sale
									span tiết kiệm
									strong 30%
							figcaption
								h3.hotel-name
									a(href="#") Amanoi Resort
									.hotel-des Ninh Hải, Ninh Thuận
								.hotel-price
									.old Từ 4.000.000 VND
									.new 2.800.000 
										span VND/ngày
				article.col-12.col-sm-6.col-md-3
					.hotel-card
						figure
							a.hotel-img(href="#")
								img(src="img/hotel/2.jpg", alt="")
								.promotion.sale
									span tiết kiệm
									strong 30%
							figcaption
								h3.hotel-name
									a(href="#") Khách sạn Nam Hải Mũi Né
									.hotel-des Mũi Né, Phan thiết
								.hotel-price
									.old Từ 4.000.000 VND
									.new 2.800.000 
										span VND/ngày
				article.col-12.col-md-6
					.hotel-card
						figure
							a.hotel-img(href="#")
								img(src="img/hotel/3.jpg", alt="")
								.promotion.sale
									span tiết kiệm
									strong 30%
							figcaption
								h3.hotel-name
									a(href="#") Vinpearl Danang Resort and Villas
									.hotel-des Hòa Hải, Đà Nẵng
								.hotel-price
									.old Từ 4.000.000 VND
									.new 2.800.000 
										span VND/ngày
				article.col-12.col-md-6
					.hotel-card
						figure
							a.hotel-img(href="#")
								img(src="img/hotel/4.jpg", alt="")
								.promotion.sale
									span tiết kiệm
									strong 30%
							figcaption
								h3.hotel-name
									a(href="#") Furama Resort Danang
									.hotel-des Hòa Hải, Đà Nẵng
								.hotel-price
									.old Từ 4.000.000 VND
									.new 2.800.000 
										span VND/ngày
				article.col-12.col-sm-6.col-md-3
					.hotel-card
						figure
							a.hotel-img(href="#")
								img(src="img/hotel/5.jpg", alt="")
								.promotion.sale
									span tiết kiệm
									strong 30%
							figcaption
								h3.hotel-name
									a(href="#") Fusion Suites Danang Beach
									.hotel-des Sơn trà, Đà Nẵng
								.hotel-price
									.old Từ 4.000.000 VND
									.new 2.800.000 
										span VND/ngày
				article.col-12.col-sm-6.col-md-3
					.hotel-card
						figure
							a.hotel-img(href="#")
								img(src="img/hotel/6.jpg", alt="")
								.promotion.sale
									span tiết kiệm
									strong 30%
							figcaption
								h3.hotel-name
									a(href="#") Fusion Maia resort
									.hotel-des Hòa Hải, Đà Nẵng
								.hotel-price
									.old Từ 4.000.000 VND
									.new 2.800.000 
										span VND/ngày
section.home-section.home-place.clearfix
	.container
		.title-wrap.clearfix
			h2.home-title
				strong Bạn muốn đến 
				|nơi đâu
			a.btn-viewmore(href="#") Xem thêm
	.place-wrap.clearfix
		.background(style="background: url(img/place/bg.jpg) center center no-repeat;background-size: cover")
		.container
			.home-place-slide
				.item
					.place-list.clearfix
						.row.no-gutters
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/1.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Hội An
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/2.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Huê
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/3.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Quảng Bình
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/4.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Đà Lạt
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/5.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Đà Nẵng
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/6.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Nha Trang
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/5.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Quy Nhơn
							.col-12.col-sm-6.col-md-3
								.place-card
									figure
										a.place-img(href="#")
											img(src="img/place/6.jpg", alt="")
										figcaption
											h3.place-name
												a(href="#") Hồ Chí Minh
section.home-section.home-news.clearfix
	.container
		.title-wrap.clearfix
			h2.home-title
				strong Khám phá 
				|trải nghiệm
			a.btn-viewmore(href="#") Xem thêm
		.news-list.clearfix
			.row
				.col-12.col-sm-6.col-md-4
					.news-card
						figure
							a.news-img(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h4.news-cate
									a(href="#") Kinh nghiệm
								h3.news-name
									a(href="#") Đi du lịch với đám bạn thân, nhất định phải “chơi” 10 kiểu chụp ảnh này để có album sống ảo nghìn like
								time 27/07/2017
				.col-12.col-sm-6.col-md-4
					.news-card
						figure
							a.news-img(href="#")
								img(src="img/news/2.jpg", alt="")
							figcaption
								h4.news-cate
									a(href="#") Kinh nghiệm
								h3.news-name
									a(href="#") Hướng dẫn phương tiện di chuyển từ Sài Gòn đến các hòn đảo đẹp ở Kiên Giang
								time 27/07/2017
				.col-12.col-sm-6.col-md-4
					.news-card
						figure
							a.news-img(href="#")
								img(src="img/news/3.jpg", alt="")
							figcaption
								h4.news-cate
									a(href="#") Chia sẻ
								h3.news-name
									a(href="#") 5 vật phẩm không thể thiếu cho một chuyến lữ hành tuyệt vời
								time 27/07/2017