.container
	section.tour-page.clearfix
		h1.home-title 
			strong Các địa điểm du lịch 
			|nổi tiếng
		.place-list.clearfix
			.row
				.col-12.col-md-6
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/danang.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Đà Nẵng
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/hanoi.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Hà Nội
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/hue.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Huế
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/nhatrang.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Nha Trang
				.col-12.col-md-3
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/saigon.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Hồ Chí Minh
				.col-12.col-md-6
					.place-card
						figure
							a.place-img(href="#")
								img(src="img/place/vungtau.jpg", alt="")
							figcaption
								h3.place-name
									a(href="#") Vũng Tàu
		h1.home-title 
			strong Tour du lịch 
			|nổi bật
		.tour-list.clearfix
			.row
				article.col-12.col-md-6.col-lg-4
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/hoian.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Một vòng quanh phố cổ Hội An
								time 4 giờ
								//- .tour-review
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.tour-price
									.new 3.600.000 đ
									.old 4.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/danang.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Du lịch Đà Nẵng
								time 1 ngày
								//- .tour-review
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.tour-price
									.new 2.000.000 đ
									.old 3.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/kyco.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Kỳ Co - Xứ thiên đường vừa mới được khám phá
								time 4 giờ
								//- .tour-review
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.tour-price
									.new 3.000.000 đ
									.old 6.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon2.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Thưởng thức ẩm thực Sài Gòn về đêm
								time 3 giờ
								//- .tour-review
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.tour-price
									.new 3.600.000 đ
									.old 4.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon5.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Sài Gòn cafe bệt
								time 2 ngày
								//- .tour-review
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.tour-price
									.new 2.000.000 đ
									.old 3.000.000 đ
				article.col-12.col-md-6.col-lg-4
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon4.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Ngắm Sài Gòn hoàng hôn bên bờ Thủ Thiêm
								time 4 giờ
								//- .tour-review
									<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
								.tour-price
									.new 3.000.000 đ
									.old 6.000.000 đ
			.btn-wrap
				a.btn-viewmore(href="#") Xem thêm
