.container
	section.tour-page.clearfix
		h1.home-title Kết quả tìm kiếm "
			strong Hồ Chí Minh
			|"
		.row
			.col-12.col-lg-3
				.btn-showfilter <i class="fa fa-filter" aria-hidden="true"></i> Bộ lọc
				.filter-wrap.clearfix
					.filter-title Bộ lọc
					.filter-group
						.title Từ khóa
						.filter-option
							.filter-search
								input(type="text")
					.filter-group
						.title Loại hình
						.filter-option
							.filter-area
								a.active(href="#") Full day
								a.active(href="#") Half day
								a(href="#") Dinner Cruise
								a(href="#") Restaurant
								a(href="#") Show
								a(href="#") Tickets
					.filter-group
						.title Mức giá
						.filter-option
							.filter-sort
								select
									option(value="") 0 đ - 10.000.000 đ
									option(value="") 10.000.000 đ - 20.000.000 đ
									option(value="") 20.000.000 đ - 30.000.000 đ
									option(value="") 30.000.000 đ - 50.000.000 đ
					.filter-group
						.title Sắp xếp
						.filter-option
							.filter-sort
								select
									option(value="") Mặc định
									option(value="") Giá từ thấp đến cao
									option(value="") Giá từ cao xuống thấp
									option(value="") Đánh giá cao

			.col-12.col-lg-9
				.tour-detail-list.clearfix
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon1.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Một vòng dạo quanh thành phố Hồ Chí Minh
								.tour-destination TP.Hồ Chí Minh
								time 6 giờ
								.tour-des Hiện thực hóa ước mơ khám phá cảnh đẹp và văn hóa đặc sắc... 
									br
									|Phương tiện : Xe du lịch
								.tour-price
									.new 5.000.000 đ
									.old 4.500.000 đ
								a.link(href="#") Chi tiết
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon2.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Thưởng thức những món ăn vặt buổi đêm ở Sài Gòn
								.tour-destination TP.Hồ Chí Minh
								time 2 giờ
								.tour-des Hiện thực hóa ước mơ khám phá cảnh đẹp và văn hóa đặc sắc... 
									br
									|Phương tiện : Xe du lịch
								.tour-price
									.new 5.000.000 đ
									.old 4.500.000 đ
								a.link(href="#") Chi tiết
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon3.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Vòng quanh Nhà Thờ Đức Bà
								.tour-destination TP.Hồ Chí Minh
								time 3 giờ
								.tour-des Hiện thực hóa ước mơ khám phá cảnh đẹp và văn hóa đặc sắc... 
									br
									|Phương tiện : Xe du lịch
								.tour-price
									.new 5.000.000 đ
									.old 4.500.000 đ
								a.link(href="#") Chi tiết
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon4.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Hoàng hôn bên bờ sông sài gòn
								.tour-destination TP.Hồ Chí Minh
								time 3 giờ
								.tour-des Hiện thực hóa ước mơ khám phá cảnh đẹp và văn hóa đặc sắc... 
									br
									|Phương tiện : Xe du lịch
								.tour-price
									.new 5.000.000 đ
									.old 4.500.000 đ
								a.link(href="#") Chi tiết
					.tour-card
						figure
							a.tour-img(href="#")
								img(src="img/tour/saigon5.jpg", alt="")
							figcaption
								h3.tour-name
									a(href="#") Cafe ăn sáng cạnh Nhà Thờ Đức Bà
								.tour-destination TP.Hồ Chí Minh
								time 2 giờ
								.tour-des Hiện thực hóa ước mơ khám phá cảnh đẹp và văn hóa đặc sắc... 
									br
									|Phương tiện : Xe du lịch
								.tour-price
									.new 5.000.000 đ
									.old 4.500.000 đ
								a.link(href="#") Chi tiết
				.pages
					ul.pagination
						li
							a(href="#") 1
						li.active
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
