//- section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tài khoản
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Admin
				meta(itemprop='position', content='3')
include breadcrumbuser
.container
	.row.flex.flex-wrap
		.col-12.col-lg-3
			section.user-sidebar.clearfix
				.userinfo.clearfix
					figure
						a.user-img(href="#")
							img(src="img/user.png", alt="")
						figcaption
							.title Tài khoản của
							.user-name Admin
							.user-rank <i class="fa fa-trophy" aria-hidden="true"></i> Thành viên vàng
			nav.user-sidelink.clearfix
				ul 
					//- li.hvr-sweep-to-right
						a(href="userpanel1.html") Chính sách thành viên
					li.hvr-sweep-to-right
						a(href="userpanel.html") Thông tin chung
					li.hvr-sweep-to-right
						a(href="userpanel1.html") Thông tin tài khoản
					//- li.hvr-sweep-to-right
						a(href="userpanel2.html") Số địa chỉ
					//- li.hvr-sweep-to-right
					//- 	a(href="#") Thông báo của tôi
					li.hvr-sweep-to-right
						a(href="userpanel3.html") Đơn hàng của tôi
					li.hvr-sweep-to-right.active
						a(href="userpanel4.html") My Q&A
					//- li.hvr-sweep-to-right.active
						a(href="userpanel4.html") Danh sách yêu thích
					//- li.hvr-sweep-to-right
						a(href="userpanel5.html") Quản lý điểm thưởng
		.col-12.col-lg-9
			section.user-page.clearfix
				h1.postname Thủ tục làm visa như thế nào?
				.content
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse inventore ab quasi magni. At neque itaque molestiae labore nihil aut quas saepe illo? Ipsam ipsa odio, beatae distinctio debitis architecto inventore nulla tempora voluptas suscipit iusto facilis quaerat in minus dolores et assumenda sit necessitatibus ad enim! Dolorem, quisquam aperiam!
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quae illo expedita odio dignissimos laborum eum reiciendis deleniti! Officiis velit quibusdam maiores earum consequatur inventore ipsum dolores placeat, eaque deserunt dignissimos eligendi reprehenderit ipsam incidunt laborum optio eveniet distinctio sapiente reiciendis? Eum ab, esse, eos dolores voluptas non dolorem repellat minima illum sed et voluptatibus! Aliquam animi ad quaerat possimus, quidem ipsam nemo voluptatibus ex quo eos eius! Provident vero ratione, consequuntur totam numquam aspernatur delectus! Repellat, est iure id ipsum dolorem voluptatum delectus vel debitis vitae corrupti amet nam, provident eaque velit aliquid sit. Ullam ducimus consequuntur nihil alias.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut commodi magnam totam nam corrupti optio libero tempora fugiat sint eligendi, voluptates odit in assumenda adipisci perspiciatis itaque fuga voluptate laboriosam hic et ipsam autem cumque. Nihil nisi nesciunt dolorum, accusantium facere numquam sequi atque! Dolorum vitae laborum earum, perspiciatis totam accusamus delectus! Est harum sint, reiciendis dolor similique earum fugiat.
					ul
						li Lorem, ipsum dolor.
						li Lorem ipsum, dolor sit amet consectetur adipisicing.
						li Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet.
				.other-qa
					h2.posttitle Các câu hỏi khác
					table.qa-table
						tr
							th Number
							th Chủ đề
							//- th Tác giả
							th Ngày
						tr
							td 1
							td 
								a(href="#!") Thủ tục làm visa như thế nào?
							td 12/12/2016
						tr
							td 2
							td 
								a(href="#!") Thủ tục làm visa như thế nào?
							td 12/12/2016
						tr
							td 3
							td 
								a(href="#!") Thủ tục làm visa như thế nào?
							td 12/12/2016
						tr
							td 4
							td 
								a(href="#!") Thủ tục làm visa như thế nào?
							td 12/12/2016
						tr
							td 5
							td 
								a(href="#!") Thủ tục làm visa như thế nào?
							td 12/12/2016