.container
	//- .visa-step
		.step.finish
			.number 1
			.name Reservation process
		.step.finish
			.number 2
			.name Expected issue date
		.step.active
			.number 3
			.name Visa Type
		.step
			.number 4
			.name Booking detail
	.visa-page
		.page-title Finish
		.cart-success.alert.alert-success.text-center <i class="fa fa-check-circle" aria-hidden="true"></i> Add to cart successfully
		.visa-notice.content
			h6 
				.ic.ic32(style="vertical-align: top")
					img(src="img/iconpack/bulb.png", alt="")
				//- strong Expert Tips
			ul
				li A coppy the passport signed by the applicant (Valid for at least 6 months).
					br
					br
				li If your visa type does not macth your purpose of entry, it may be a problem when you are staying in the country.
					br
					br
				li Print out the letter and the entry-and-exit form.
					br
					br
				li Prepare 2 passport sized photos 4x6cm and an amount of USD for stamping fee ($25 for single entry; $50 for multiple entry visa). $95 USD for 6 months multiple entries visa to less than 1 year multiple entries. $135 for 1 year multiple.
					br
					br
				li Put all above mentioned things along with your passport in a package, then show them to visa arrival officer at Vietnam arrival airports.
					br
					|(To save your time at the airports, you are recommended to use our airport fast track service)
					br
					br
				li If you apply visa embassy, you must bring the letter to local embassy or agency. At a Vietnam Embassy, the visa procedure will take around few days to process. Visa fees will depend on the type of visa for which you are applying. 
