
footer
	.container
		.row
			.col-12.col-md-4.col-lg-5
				section.footer-col.clearfix
					.sitelogo
						a(href="#")
							img(src="img/logo.png", alt="")
					.about.content Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý nghĩa.
					.social
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
			.col-12.col-sm-6.col-md-4.col-lg-3
				section.footer-col.clearfix
					.title Sitemap
					nav.footerlink
						a(href="#") Giới thiệu
						a(href="#") Hỗ trợ khách hàng
						a(href="#") Dịch vụ
						a(href="#") Đối tác & khách hàng
						a(href="#") FAQs
						a(href="#") Liên hệ
			.col-12.col-sm-6.col-md-4
				section.footer-col.clearfix
					.title Đăng ký nhận bản tin
					.subscribe
						.module-title Enter your email address and we’ll send you our regular promotional emails, packed with special offers, great deals, and huge discounts.
						.subscribefrm
							input(type="text" placeholder="Nhập email...")
							button.subscribebutton Gửi
				.copyright © 2017 Tourlink. All rights reserved.
	.up <i class="fa fa-angle-up" aria-hidden="true"></i>
	section.home-partner.clearfix
		.container
			.partner-list
				.item
					a.partner(href="#!")
						img(src="img/partner/1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/2.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/3.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/4.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/5.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/6.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/7.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/8.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/partner/2.png", alt="")